.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6.3rem;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
}

.about-text {
  float: left;
  padding: 0 3rem 0 1rem;
}

.about-text h2 {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.about-text p {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
}

.about-image {
  float: right;
  padding-right: 2rem;
}

.about-image img {
  border-radius: 200px;
  height: 200px;
  width: 200px;
}