.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #111;
  padding: 1rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #f39c12;
}
