@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');


* {
  font-family: 'Kode Mono','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.skills-section {
  margin: 4rem 2rem;
}

.skills-section h2 {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.skills-tabs {
  display: flex;
  justify-content: space-around;
  background-color: hsl(0, 0%, 15%);
  padding: 1.1rem;
  border-radius: 5px 5px 0 0;
}

.skills-tabs button {
  font-weight: bold;
  background: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.skills-tabs button:hover {
  color: hsl(34, 79%, 57%);
}

.skills-content {
  display: none;
}

.skills-content.active {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 2rem;
  border-radius: 0 0 5px 5px;
}

.skills-content.active img {
  height: 100px;
  width: 100px;
  animation-name: reveal;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes reveal {
  0%{opacity: 0;transform: scale(0,0);}
  20%{opacity: 0.5;transform: scale(0.2,0.2);}
  40%{opacity: 0.5;transform: scale(0.4,0.4);}
  60%{opacity: 1;transform: scale(0.6,0.6);}
  80%{opacity: 1;transform: scale(0.8,0.8);}
  100%{opacity: 1;transform: scale(1,1);}
}
